<h1>{{family}} Dataset Family</h1>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>Publisher</th>
        <th>Dataset</th>
        <th>Extract Stage</th>
        <th>Tracking</th>
        <th>Transform Status</th>
        <th>Publish Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each pipelines}}
        <tr class="{{rowClass ../family info}}">
            <td>{{number}}</td>
            <td>{{info.publisher}}</td>
            <td><a href="?{{directory}}">{{info.title}}</a></td>
            <td>{{info.extract.stage}}</td>
            <td>
                {{#if info.transform.main_issue}}
                    <a href="{{../github}}/issues/{{info.transform.main_issue}}"><i style="color: black;"
                                                                                    class="fab fa-github-alt"></i>
                        #{{info.transform.main_issue}}</a>
                {{/if}}
            </td>
            <td>
                <a href='{{../jenkins_base}}/{{../jenkins_path}}/job/{{directory}}/'>
                    <img src='{{../jenkins_base}}/{{../jenkins_buildicon}}{{directory}}'/>
                </a>
            </td>
            <td>
                <div>
                    <ul class="fa-ul">
                        {{#each datasets}}
                            <li><span class="fa-li"><i class="fas fa-cube"></i></span><a href="{{this.uri}}">{{this.label}}</a>{{#unless @last}}, {{/unless}}</li>
                        {{/each}}
                    </ul>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
